@model supra.Models.Fornecedor

@{
    ViewData["Title"] = "Cadastrar Categoria";
}

<h1 class="text-center text-primary">Cadastrar Categoria</h1>

<h4 class="text-center text-primary">Forncedor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="razao_social" class="control-label"></label>
                <input asp-for="razao_social" class="form-control" />
                <span asp-validation-for="razao_social" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="cnpj" class="control-label"></label>
                <input asp-for="cnpj" class="form-control" />
                <span asp-validation-for="cnpj" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="telefone" class="control-label"></label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <input asp-for="tipo" class="form-control" />
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="dt" class="control-label"></label>
                <input asp-for="dt" class="form-control" />
                <span asp-validation-for="dt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>

        </form>
    </div>

</div>