
@{
    Layout = "_Layout";
}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col">
                <ul class="nav">
                    <li class="nav-item primeiro_menu"><a>Cadastros</a></li>
                    <li class="nav-item primeiro_menu"><a>Produtos/Estoque</a></li>
                    <li class="nav-item primeiro_menu"><a>Relatórios</a></li>
                    <li class="nav-item primeiro_menu"><a>Ferramentas</a></li>
                    <li class="nav-item primeiro_menu"><a>Ajuda</a></li>
                </ul>
            </div>
        </div>
       
        <div class="row cor">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center mg_supra">
                <img src="img/lima.png" width="200px">
                <span class="supra_um">SUPRA</span><span class="supra_dois">CITRUS</span>
            </div>
        </div>
 
